# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
venv/
.env.local

# IDEs
.idea/

.git/
helm-chart/
.gitignore
.pre-commit-config.yaml
.pylintrc
docker-compose.yaml
Dockerfile
